<!DOCTYPE html>
<html>
<head>
  <title>CmcCpm</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wapper">
    <%= render 'layouts/default/header' %>
    <%= render 'layouts/default/header_panel' %>
    <%= yield %>
    <%= render 'layouts/default/footer' %>
</div>
</body>
</html>