<p id="notice"><%= notice %></p>

<h1>Listing Cpm Issues</h1>

<table>
  <thead>
    <tr>
      <th>Cpm user</th>
      <th>Cpm project</th>
      <th>Man hour</th>
      <th>Name</th>
      <th>Assigned to</th>
      <th>Cpm type</th>
      <th>Cpm status</th>
      <th>Cpm process</th>
      <th>Cpm priority</th>
      <th>Deadline</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cpm_issues.each do |cpm_issue| %>
      <tr>
        <td><%= cpm_issue.cpm_user_id %></td>
        <td><%= cpm_issue.cpm_project_id %></td>
        <td><%= cpm_issue.man_hour %></td>
        <td><%= cpm_issue.name %></td>
        <td><%= cpm_issue.assigned_to %></td>
        <td><%= cpm_issue.cpm_type %></td>
        <td><%= cpm_issue.cpm_status %></td>
        <td><%= cpm_issue.cpm_process_id %></td>
        <td><%= cpm_issue.cpm_priority_id %></td>
        <td><%= cpm_issue.deadline %></td>
        <td><%= cpm_issue.description %></td>
        <td><%= link_to 'Show', cpm_issue %></td>
        <td><%= link_to 'Edit', edit_cpm_issue_path(cpm_issue) %></td>
        <td><%= link_to 'Destroy', cpm_issue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cpm issue', new_cpm_issue_path %>
