<%= form_for(@cpm_file) do |f| %>
  <% if @cpm_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cpm_file.errors.count, "error") %> prohibited this cpm_file from being saved:</h2>

      <ul>
      <% @cpm_file.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cpm_user_id %><br>
    <%= f.number_field :cpm_user_id %>
  </div>
  <div class="field">
    <%= f.label :cpm_task_id %><br>
    <%= f.number_field :cpm_task_id %>
  </div>
  <div class="field">
    <%= f.label :cpm_issue_id %><br>
    <%= f.number_field :cpm_issue_id %>
  </div>
  <div class="field">
    <%= f.label :cpm_comment_id %><br>
    <%= f.number_field :cpm_comment_id %>
  </div>
  <div class="field">
    <%= f.label :file_path %><br>
    <%= f.text_field :file_path %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
